<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
</head>
<body>
    <h1>Select</h1>
    <form action="/select_app" method="POST">
        <select name="favorite">
            <option value="">好きなものを選んでください</option>
            <option value="cat">ねこ</option>
            <option value="dog">いぬ</option>
            <option value="fried chicken">唐揚げ</option>
            <option value="chicken wings">手羽先</option>
            <option value="octopus wasabi">たこわさび</option>
        </select>
        <input type="submit" value="OK">
    </form>
</body>
</html>